<%- include('../partials/header') %>

    <%- include('../partials/navbar') %>

        <main>
            <h1>Oops! Something went wrong.</h1>
            <h2>Error Message:<%= message %>
            </h2>
            <p><a href="/upload">Go back to upload page</a></p>
        </main>